body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

#calculator-outline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:70vh;
    height:70vh;
    background-color: azure;
    

}
.screen{
    display: flex;
    flex:1 1 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    
  
}
#glass{
    display: flex;
    font-size: 60px;
    font-weight: 900;
    justify-content: right;
    align-items: right;
  
    background-color: rgb(146, 146, 146);
    width: 100%;
    margin-right:1%;
    margin-left:4px;
    height: 65%;
}
.contentp{
 
  color: rgb(146, 146, 146);
}
 p{
    align-items: right;
    justify-content: right;
   
    
}
.body{
    flex:2 1 0;
    display:flex;
    width:100%;
    background-color: rgb(255, 240, 240);
    

}
.numbers{
    display:flex;
    flex-wrap: wrap;
    flex:3 1 0;
    background-color: black;
   
}
.operators{
    display:flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    flex-direction: column;
}
.options{
    display:flex;
    width: 33%;
    justify-content: space-around;
    
}
.operator{
    display: flex;
    
    height:25%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}
button{
  
   flex: auto;
   background-color: darkgray;
   font-weight: 600;
   font-size: 24px;
}


